$colors: (
    primary: #ffffff,
    primary-light: #f4f4f4,
    primary-dark: #a4a4a4,
    accent: red,
    secondary: #f4f4f4,
    font-def: white,
    font-title: #626262,
    font-desc: #818181,
);

@function color($color-name) {
    @return map-get($colors ,$color-name);
  }

$mini: 720px;
$med: 800px;
$big: 1000px;

@mixin mini {
    @media (max-width: #{$mini}) {
        @content;
    }
}

@mixin med {
    @media (max-width: #{$med}) {
        @content;
    }
}

@mixin big {
    @media (min-width: #{$big}) {
        @content;
    }
}

$weight: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    black: 900,
);

@function weight($weight-name) {
    @return map-get($weight ,$weight-name);
  }

/* SCSS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

.heading {
    padding: 1em 1em;

    h1 {
        font-family: 'Abril Fatface', cursive;
        font-weight: weight(regular);
        font-size: 4em;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: weight(regular);
        font-size: 1em;
        color: gray;
    }
}

.posts {
    @include big {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .post1 {
        padding: 0 1em 4em 1em;
    
        a {
            #image {
                padding: 0 0 .5em 0;
                height: auto;
                width: 100%;
            }
        }
    
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: weight(semi-bold);
            font-size: 1.5em;    
        }
        
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: weight(regular);
            font-size: 1em;
            color: gray;
        }
    }
    
    .post2 {
        padding: 0 1em 4em 1em;
    
        a {
            #image {
                padding: 0 0 .5em 0;
                height: auto;
                width: 100%;
            }
        }
    
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: weight(semi-bold);
            font-size: 1.5em;    
        }
        
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: weight(regular);
            font-size: 1em;
            color: gray;
        }
    }
}