$colors: (
  primary: #ffffff,
  primary-light: #f4f4f4,
  primary-dark: #a4a4a4,
  accent: red,
  secondary: #f4f4f4,
  font-def: white,
  font-title: #626262,
  font-desc: #818181
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);

@function weight($weight-name) {
  @return map-get($weight, $weight-name);
}

$font: (
  Libre: "Libre Bakerville",
  Playfair: "Playfair Display",
  Montserrat: "Montserrat"
);

@function font($font-name) {
  @return map-get($font, $font-name);
}
/* SCSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: color(primary);

  .banner {
    padding: 1em;

    a img {
      height: auto;
      width: 100%;
    }
  }

  .posts {
    padding: 2em 1em;

    .post1 {
      padding: 0em 0;
  
      a {
          #image {
            width: 100%;
            height: auto;
            padding: 0 0 0.5em 0;
          }
      }
  }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: weight(semi-bold);
        font-size: 1em;
        padding-bottom: .25em;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: weight(regular);
        font-size: .75em;
        color: gray;
    }
}

}