$colors: (
  primary: #ffffff,
  primary-light: #f4f4f4,
  primary-dark: #a4a4a4,
  accent: red,
  secondary: #f4f4f4,
  font-def: white,
  font-title: #626262,
  font-desc: #818181
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$mini: 720px;
$med: 800px;
$big: 1000px;

@mixin mini {
  @media (max-width: #{$mini}) {
    @content;
  }
}

@mixin med {
  @media (max-width: #{$med}) {
    @content;
  }
}

@mixin big {
  @media (min-width: #{$big}) {
    @content;
  }
}

$weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);

@function weight($weight-name) {
  @return map-get($weight, $weight-name);
}

$font: (
  Libre: "Libre Bakerville",
  Playfair: "Playfair Display",
  Montserrat: "Montserrat"
);

@function font($font-name) {
  @return map-get($font, $font-name);
}
/* SCSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: color(primary);

  @include big {
    background-color: #ffffff;
  }

  .banners {
    padding: 1em;
    #extra {
      display: none;
    }

    @include big {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      padding: 1em 1em;

      #extra {
        display: inline;
      }
    }

    .banner1 {
      a img {
        height: auto;
        width: 100%;

        @include big {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  .posts {
    padding: 1em 1em;

    @include big {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
    }

    .left {
      padding: 0 0 1em 0;

      a {
        #image {
          width: 100%;
          height: auto;
          padding: 0 0 0.5em 0;
        }
      }

      .text {
        h3 {
          font-family: "Montserrat", sans-serif;
          font-weight: weight(semi-bold);
          font-size: 1em;
          padding-bottom: 0.25em;
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-weight: weight(regular);
          font-size: 0.75em;
          color: gray;
        }
      }
    }

    .right {
      padding: 0 0 1em 0;

      a {
        #image {
          width: 100%;
          height: auto;
          padding: 0 0 0.5em 0;
        }
      }

      .text {
        h3 {
          font-family: "Montserrat", sans-serif;
          font-weight: weight(semi-bold);
          font-size: 1em;
          padding-bottom: 0.25em;
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-weight: weight(regular);
          font-size: 0.75em;
          color: gray;
        }
      }
    }


  }

  p#video {
    font-family: 'Abril Fatface', cursive;
    font-weight: weight(regular);
    font-size: 4em;
    padding: 0 .25em;
  }
}
