.topbar {
    padding: .5em 1em;

    a {
        img {
            width: auto;
            height: 2.1875em;
        }
    }

    #right {
        padding-left: .5em;
        
        img {
            width: auto;
            height: 2.1875em;
        }
    }
}