$colors: (
    primary: #ffffff,
    primary-light: #f4f4f4,
    primary-dark: #a4a4a4,
    accent: red,
    secondary: #f4f4f4,
    font-def: white,
    font-title: #626262,
    font-desc: #818181,
);

@function color($color-name) {
    @return map-get($colors ,$color-name);
  }

  $big: 1000px;

  @mixin big {
    @media (min-width: #{$big}) {
        @content;
    }
}

$weight: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900,
);

@function weight($weight-name) {
    @return map-get($weight ,$weight-name);
}

$font: (
    Libre: 'Libre Bakerville',
    Playfair: 'Playfair Display',
    Montserrat: 'Montserrat',
);

@function font($font-name) {
    @return map-get($font ,$font-name);
}
/* SCSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    margin: 0;
    padding: 1em;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 5px 0 5px grey;
    overflow: auto;
    white-space: nowrap;

    @include big {
        box-shadow: #f1f3f6;
    }

    #button {
        display: inline-block;
        padding: 0 .5em;
        color: black;
        text-decoration: none;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: weight(regular);
        font-size: 1em;
    }

    #button:hover {
        color: color(primary-dark);
    }
}